@font-face {
  src:  url(../font/Audiowide-regular.woff) format('woff'),
        url(../font/Audiowide-regular.ttf) format('truetype');
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
}

::-moz-selection {
    background: #cc0000;
    text-shadow: none;
}

::selection {
    background: #cc0000;
    text-shadow: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #708090;
  color: #FFF;
  font-size: 12px;
  line-height: 1;
}

h1,h2,p,a{
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
}

.background-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.background {
    background: url('../../asset/img/BlueSky.jpg') no-repeat center; 
    background-color: aqua;
    background-size: cover;
    height: 105%;
    position: fixed;
    width: 105%;
    right: -2.5%;
    left: -2.5%;
    top: -2.5%;
    bottom: -2.5%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

* {
  box-sizing: border-box;
  cursor: default;
  outline: none;
}

#logos{
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  margin-top: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 5px 5px rgba(0,0,0,0.7);
}

/*#smtimg {
  width:auto;
  height:auto;
  position: relative;
  
}*/

a {
  display: flex;
  margin: 50px;
  float : left;
  width: 40%;
  /*background: rgba(255,255,255,0.3);*/
  border: 1px solid #ffffff; 
  border-radius: 1em;
  box-shadow: 0px 10px 5px rgba(0,0,0,0.5);
  height: 400px;
  overflow: hidden;
  float: left;
}

a:hover{
  background: rgba(255,239,219,0.6);
}

h3{
	color:#f00;
}
.inset {
  border-top: 1px solid #ffffff;
  padding: 20px;
  height:120px;
}

img{
	width:320px;
	height:60px;
}

#imgs{
	padding:85px 0px 30px 0px;
	text-align:center;
}

a h1 {
  margin: auto; 
  text-align: center; 
  font-family: Audiowide;
  font-size: 30px;
  text-shadow: 0 1px 0 #000;
  color: #3AB;
  /*padding: 15px 0;*/
  /*position: relative;*/
  /*font-weight: normal;*/
}

a h1.poweron {
  color: #ffffff;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-animation: flicker 1s ease-in-out 1 alternate, neon 1.5s ease-in-out infinite alternate;
          animation: flicker 1s ease-in-out 1 alternate, neon 1.5s ease-in-out infinite alternate;
  -webkit-animation-delay: 0s, 1s;
          animation-delay: 0s, 1s;
}

a h1:after {
  position: absolute;
  width: 250px;
  height: 180px;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  margin-left: 138px;
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(0,0%,100%,0.2)), color-stop(100%,hsla(0,0%,100%,0)));
  background: -webkit-linear-gradient(top, hsla(0,0%,100%,0.1) 0%,hsla(0,0%,100%,0) 100%);
  background: -ms-linear-gradient(top, hsla(0,0%,100%,0.1) 0%,hsla(0,0%,100%,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42ffffff', endColorstr='#00ffffff',GradientType=0 );
  background: -webkit-linear-gradient(top, hsla(0,0%,100%,0.1) 0%, hsla(0,0%,100%,0) 100%);
  background: linear-gradient(to bottom, hsla(0,0%,100%,0.1) 0%,hsla(0,0%,100%,0) 100%);

}

input[type=text], input[type=password] {
  background: -webkit-linear-gradient(#1f2124, #27292c);
  background: linear-gradient(#1f2124,#27292c);
  border: 1px solid #222;
  border-radius: .3em;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  color: #FFF;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 8px 5px;
  width: 100%;
  height:37px;
  text-align:center;
}

input[type=text]:disabled, input[type=password]:disabled {
	color: #999;
}

label[for=remember] {
  color: #bbb;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
  padding: 0 0 0 5px;
}

#err{
	text-align:center;
}

.p-container {
  padding: 0 20px 20px;
}

.p-container:after {
  clear: both;
  content: "";
  display: table;
}

.p-container span {
  color: #0d93ff;
  display: block;
  float: left;
  padding-top: 8px;
}

input[type=submit] {
  background: rgba(0, 132, 183,1);
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: .3em;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  padding: 5px 20px;
  margin: 10px 0px;
  width: 100%;
}

.denied {
  color: white !important;
  text-shadow: 0 0 1px black;
  background: #EE0000 !important;
}

input[type=submit]:hover, input[type=submit]:focus {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -10px 10px rgba(255,255,255,0.1);
}

input[type=text]:hover:not([disabled]), 
input[type=text]:focus, 
input[type=password]:hover:not([disabled]), 
input[type=password]:focus, 
label:hover ~ input[type=text], 
label:hover ~ input[type=password] {
  background: #27292c;
}

input[type="checkbox"]:checked ~ .checkbox {
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  border-bottom: 2px solid #ffcc00;
  border-right: 2px solid #ffcc00;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 
    0 0 2.5px #fff,
    0 0 5px #fff,
    0 0 7.5px #fff,
    0 0 10px #B6FF00,
    0 0 17.5px #B6FF00,
    0 0 20px #B6FF00,
    0 0 25px #B6FF00,
    0 0 37.5px #B6FF00;
  }

  to {
      text-shadow: 
      0 0 3px #fff,
      0 0 7px  #fff,
      0 0 13px  #fff,
      0 0 17px  #B6FF00,
      0 0 33px  #B6FF00,
      0 0 38px  #B6FF00,
      0 0 48px #B6FF00,
      0 0 63px #B6FF00;
    }
}

@keyframes neon {
  from {
    text-shadow: 
    0 0 2.5px #fff,
    0 0 5px #fff,
    0 0 7.5px #fff,
    0 0 10px #B6FF00,
    0 0 17.5px #B6FF00,
    0 0 20px #B6FF00,
    0 0 25px #B6FF00,
    0 0 37.5px #B6FF00;
  }

  to {
      text-shadow: 
      0 0 3px #fff,
      0 0 7px  #fff,
      0 0 13px  #fff,
      0 0 17px  #B6FF00,
      0 0 33px  #B6FF00,
      0 0 38px  #B6FF00,
      0 0 48px #B6FF00,
      0 0 63px #B6FF00;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
   /* Css untuk layout tablet  di tulis pada bagian ini */
    a{
      width:37%;
    }
    .background-wrap {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      overflow: hidden;
    }

    .background {
        background: url('../../asset/img/BlueSky.jpg') no-repeat center; 
        background-color: antiquewhite;
        background-size: cover;
        height: 105%;
        position: fixed;
        width: 105%;
        right: -2.5%;
        left: -2.5%;
        top: -2.5%;
        bottom: -2.5%;
    }
}
 
@media only screen and (min-width: 480px) and (max-width: 767px) {
   /* Css untuk layout wide mobile di tulis pada bagian ini */
   a{
    width: 78%;
   }
   .background-wrap {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      overflow: hidden;
    }

    .background {
        background: url('../../asset/img/BlueSky.jpg') no-repeat center; 
        background-color: chartreuse;
        background-size: cover;
        height: 105%;
        position: fixed;
        width: 105%;
        right: -2.5%;
        left: -2.5%;
        top: -2.5%;
        bottom: -2.5%;
    }
}

